/* app css stylesheet */
@font-face {
    font-family: foo;
    src: url('asset/fonts/foo.ttf');
}

body {
    /*background-color: #FAF490;*/
    background: url('asset/main.jpg') repeat;
    font-family: foo, cursive;
    font-size: 40px;
    color: #FAF490;
}

ul {
    list-style-type: none;
}

a, a:hover {
    text-decoration: none;
}

form {
    /*color: #65767F;*/
    font-size: 24px;
    /*font-family: Verdana, cursive;*/
}

.dash {
    width: 60%;
    margin-top: 24%;
    margin-left: 28%;
    color: #37453F;
    font-size: 60px;
}

.selected {
    border: 3px solid #80F2C0;
}

.back-button {
    color: #37453F;
    font-size: 80px;
    position: fixed;
    left: 40px;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0% {
        transform: rotateZ(0deg);
    }
    20% {
        transform: rotateZ(10deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: rotateZ(17deg);
    }
    60% {
        transform: rotateZ(16deg);
    }
    100% {
        transform: translateY(100%) rotateZ(17deg);
    }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to {
        transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}

/* slide in from the right */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.ng-enter {
    animation: slideInRight 0.6s both ease-in;
    z-index: 8888;
}

.ng-leave {
    animation: slideOutLeft 0.2s both ease-in;
    z-index: 9999;
}


/** loader animation */

.sk-double-bounce {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 40px auto; }
.sk-double-bounce .sk-child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
    animation: sk-doubleBounce 2s infinite ease-in-out; }
.sk-double-bounce .sk-double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; }

@-webkit-keyframes sk-doubleBounce {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1); } }

@keyframes sk-doubleBounce {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1); } }

