<div class="back-button" ng-show="!gameLevels"><a href="#/"><span><</span></a></div>
<div class="back-button" ng-show="gameLevels"><span ng-click="removeLevels()"><</span></div>
<div ng-class="{'dash':!gameLevels, 'dash2': gameLevels}">
    <div ng-repeat="game in games" ng-show="!gameLevels">
        <a role="button" ng-click="getlevels(game.key)">{{game.name}}</a>
    </div>
    <div ng-show="gameLevels">
        <ul>
            <li ng-repeat="level in gameLevels">
                <a ng-href="#/play/{{level.key}}">{{level.name}}</a>
            </li>
        </ul>
    </div>
</div>